body{
    overflow-x: hidden;
    background-color: aqua;
    font-family: 'Roboto,sans-serif';
}
.signup{
    width: 360px;
    height: 600px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
}
h1{
    color: blue;
    text-align: center;
    margin-top: 15px;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    font-weight:bolder;
    display: flex;
    margin-top: 15px;
    font-size: 18px;
}
input{
    width: 100%;
    padding: 7px;
    border:1px solid grey;
    border-radius: 10px; 
    outline:none;
}
input[type = "submit"]
{
    width:315px;
    height:35px;
    margin-top: 20px;
    background-color: blue;
    color: white;
    border: none;
}
p{
    text-align: center;
    font-weight: bolder;
}
a{
    color: blue;
    font-weight: bolder;
}
.input-control.success input{
    border-color: #09c372;
}
.input-control.error input{
    border-color:#ff3860;
}
.input-control.error input{
    color:#ff3860;
    font-size: 9px;
    height: 13px;
}
input:focus{
    background:#659EC7;
}
